body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(189, 250, 250);
    color: #333;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    text-transform: capitalize;
}

.container{
    text-align: center;
    padding: 2rem;
    border-radius: 5px;
    background-color: #fff;
    flex: 0 0 50%;
}

#sendBtn{
    border: none;
    color: #fff;
    background: rgb(2, 95, 95);
    font-size: 1.1rem;
    padding: 0.25rem 0.5rem;
    border-radius: 7px;
    cursor: pointer;
    text-transform: capitalize;
}
#sendBtn:hover{
    opacity: 0.8;
    color: #ffd000;
}

#inputBox{
    border: 2px solid rgb(10, 226, 226);
    border-radius: 3px;
    height: 20px;
    width: 170px;
}

input[type=text]:focus{
    box-shadow: 0 0 10px rgb(10, 226, 226);
}

#lastMessage{
    color: rgb(10, 114, 114);
    margin: 0.1px;
    padding: 0.1px;
}